<div class="row">

    <div class="col s12 m6 l6">
        <div class="card">
            <div class="card-image">
                <img ng-src="media/images/manue.png">
                <span class="card-title">{{'title_3' | translate}}</span>
            </div>
            <div class="card-content">
                <p>{{'content_title_3' | translate}}</p>
            </div>

            <div class="card-action">
                <a href="mailto:me@manujlopez.com" analytics-on="click" analytics-event="Redirect to Email" analytics-category="Contact" analytics-label="Redirect to Email"  target="_blank"><i class="mdi mdi-email small red-text"></i></a>
                <a href="https://www.linkedin.com/in/manujlopez"  analytics-on="click" analytics-event="Redirect to Linkedin" analytics-category="Contact" analytics-label="Redirect to Linkedin"  target="_blank"><i class="mdi mdi-linkedin-box small blue-text"></i></a>
                <a href="https://twitter.com/manu7691"  analytics-on="click" analytics-event="Redirect to Twitter" analytics-category="Contact" analytics-label="Redirect to Twitter"  target="_blank"><i class="mdi mdi-twitter-box small light-blue-text"></i></a>
                <a href="https://github.com/manu7691"  analytics-on="click" analytics-event="Redirect to Github" analytics-category="Contact" analytics-label="Redirect to Github"  target="_blank"><i class="mdi mdi-github-circle small black-text"></i></a>
                <a href="skype:manujlopez.com?add"  analytics-on="click" analytics-event="Redirect to Skype" analytics-category="Contact" analytics-label="Redirect to Skype"  target="_blank"><i class="fa fa-skype small blue-text"></i></a>
                <a href="media/docs/{{'cv'| translate}}.pdf"  analytics-on="click" analytics-event="Redirect to Curriculum Vitae" analytics-category="Contact" analytics-label="Redirect to Curriculum Vitae"  target="_blank"><i class="fa fa-file-text-o small black-text"></i></a>
            </div>
        </div>
    </div>

    <div class="col s12 m6 l6">
        <span style="font-size: 15px;font-weight: bold">{{'title_1' | translate}}</span>
        <div class="card  ">
            <div class="card-content black-text">
                <li>{{'content_title_1_1' | translate}}</li>
                <li>{{'content_title_1_2' | translate}}</li>
                <li>{{'content_title_1_3' | translate}}</li>
                <li>{{'content_title_1_4' | translate}}</li>
                <li>{{'content_title_1_5' | translate}}</li>
                <li>{{'content_title_1_6' | translate}}</li>
            </div>
        </div>

        <span style="font-size: 15px;font-weight: bold">{{'title_2' | translate}}</span>
        <div class="card  ">
            <div class='card-content black-text'>
                <li>{{'content_title_2_1' | translate}}</li>
                <li>{{'content_title_2_2' | translate}}</li>
                <li>{{'content_title_2_3' | translate}}</li>
                <li>{{'content_title_2_4' | translate}}</li>
                <li>{{'content_title_2_5' | translate}}</li>
            </div>
        </div>


    </div>

</div>