<div class="row">

    <!--<form class="col s12 m6 l6">
         <div class="row">
            <div class="input-field">
                <input id="name" type="text" class="validate">
                <label for="name">Name</label>
            </div>

            <div class="input-field">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>

            <div class="input-field ">
                <input id="subject" type="text" class="validate">
                <label for="subject">Subject</label>
            </div>

            <div class="input-field">
                <textarea id="message" class="materialize-textarea"></textarea><label for="message">Message</label>
            </div>

            <button class="btn waves-effect waves-light" style="background-color: dodgerblue" type="submit" name="action">Submit</button>

        </div>
    </form>-->

    <div class="col s12 m6 l6">
        <p><b>Contact Data</b></p>
        <p style="text-align: center">
            <a href="mailto:me@manujlopez.com" target="_blank"><i class="mdi mdi-email large"></i></a>
            <a href="https://www.linkedin.com/in/manujlopez" target="_blank"><i class="mdi mdi-linkedin-box large"></i></a>
            <a href="https://twitter.com/manu7691" target="_blank"><i class="mdi mdi-twitter-box large"></i></a>
            <a href="https://github.com/manu7691" target="_blank"><i class="mdi mdi-github-circle large"></i></a>
        </p>
    </div>
</div>
